.nav-header {
  color: #fff;
  text-transform: uppercase;
  font-family: "Miriam Libre", sans-serif;
  font-size: 1em;
}

.item-header {
  font-size: 1.2em;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.item-list {
  font-size: 0.8em;
  color: #fff;
  margin: 5px 0;
  font-family: "Noto Sans", sans-serif;
  display: block;
}

.select-size {
  font-size: 0.8em;
  font-family: "Miriam Libre", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.list-price {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 1em;
}
